body {
	background: #eee;
	margin: 0;
	padding: 1em;
}
h1, h2 {
	margin: 0;
}
h1 {
	font: 300 60px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #353535;
}
h2 {
	font: 100 30px/0.75 "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #cecece;
}
hgroup {
	margin-bottom: 2em;
}
.pie {
	width: 320px;
	margin: 0 auto;
}
.pie h2 {
	font-size: 16px;
	font-weight: 300;
	color: #353535;
}
#gh {
	position: absolute;
	top: 2em;
	right: 1em;
	opacity: 0.15;
	transition: opacity 0.25s linear;
}
#gh:hover {
	opacity: 1;
}
@media only screen and (min-width: 768px) {
	body {
		padding: 1em 3em;
	}
	.pie {
		width: 500px;
	}
	.pie h2 {
		position: relative;
		top: 255px;
		left: -6em;
	}
	#gh {
		right: 3em;
	}
}

